<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a target="_blank" href="http://www.clcert.cl">
                        <img src="img/logos/clcert.png" class="img-responsive img-centered" alt="CLCERT Webpage">
                    </a>
                </div>
                <div class="col-md-3">
                    <a target="_blank" href="http://dcc.uchile.cl">
                        <img src="img/logos/dcc.jpg" class="img-responsive img-centered" alt="DCC Webpage">
                    </a>
                </div>
                <div class="col-md-3">
                    <a target="_blank" href="http://ingenieria.uchile.cl">
                        <img src="img/logos/fcfm.jpg" class="img-responsive img-centered" alt="FCFM Webpage">
                    </a>
                </div>
                <div class="col-md-3">
                    <a target="_blank" href="http://www.nist.gov">
                        <img src="img/logos/nist.png" class="img-responsive img-centered" alt="NIST Webpage">
                    </a>
                </div>
            </div>
        </div>
    </aside>